.container {
  height: 100vh;
  background: var(--bg-color);
}

.dark {
  --bg-color: black;
  --btn-background: white;
  --btn-text: black;
}

.light {
  --bg-color: white;
  --btn-background: black;
  --btn-text: white;
}

.btn {
  color: var(--btn-text);
  background: var(--btn-background);
}